__pycache__/
RVC/__pycache__/
suno_bark.egg-info/
*.DS_Store
*.pyd
RVC/TEMP/
RVC/logs/
RVC/hubert_base.pt
RVC/pretrained_v2/f0D48k.pth
RVC/pretrained_v2/f0G48k.pth
nuwave2/nuwave2.ckpt
*.swp
*.DS*
*__pycache__*
*.pyc
barkrvc_out.wav